//- Meta
- var meta_title = 'Webagentur kreativ-anders | Manuel Steinberg aus Nürnberg'
- var meta_author = 'Manuel Steinberg'
- var meta_description = 'Die Webagentur kreativ-anders | Manuel Steinberg steht für digital nachhaltige Prozessgestaltung, Webseiten &amp; SEO und kreatives Mediendesign.'

//include _layouts/home.pug

include _snippets/header.pug
include _snippets/navigation.pug
include _mixins/cta.pug
+cta('Hoppla!') 

section.container 
  span "Normalerweise" funktioniert es ...
  h1 Diesen Link scheint es allerdings nicht mehr zu geben!
  p Wir würden uns freuen, wenn du uns mitteilen könntest, welche Seite du erwartet hast. 
