//- Meta
- var meta_title = 'Webagentur kreativ-anders | Manuel Steinberg aus Nürnberg'
- var meta_author = 'Manuel Steinberg'
- var meta_description = 'Die Webagentur kreativ-anders | Manuel Steinberg steht für digital nachhaltige Prozessgestaltung, Webseiten &amp; SEO und kreatives Mediendesign.'

//include _layouts/home.pug

include _snippets/header.pug
include _snippets/navigation.pug
include _mixins/cta.pug
+cta('Wir schaffen innovative digitale Lösungen.') 

include _snippets/about.pug
include _snippets/vision.pug
include _snippets/mantra.pug
include _snippets/credo.pug
include _snippets/service.pug
include _snippets/customers.pug
include _snippets/contact.pug
include _snippets/footer.pug

