footer
  .grid
    div
      p 
        span kreativ-anders 
        | ® | Manuel Steinberg
      i © #{new Date().getFullYear()} All rights reserverd.
    div
      b Links
      ul
        li
          a(href='/page1/') Page1
        li
          a(href='/page2/') Page2
    div
      b Contact
      ul
        li
          a(href='https://www.linkedin.com/company/kreativ-anders') LinkedIn
        li
          a(href='mailto:hallo@kreativ-anders.de') Mail
    div
      b Company
      ul
        li
          a(href='/#') Imprint
        li
          a(href='/#') Privacy

</body>
</html>
