header.container
  nav
    a(href='/#')
      include logo.pug


    input#nav.hidden(type='checkbox')
    label.nav-open(for='nav')
      i
      i
      i
    .nav-container
      ul.sideload
        li
          a(href='/#wer-wir-sind') Über uns
        li
          a(href='/leistungen/') Leistungen
        li
          a(href='/blog/') Blog
        li
          a(href='/kontakt/') Kontakt