//- Meta
- var meta_title = 'Page 2'
- var meta_author = 'Manuel Steinberg'
- var meta_description = 'Page 2'

//- Mixins

//- Snippets
include ../_snippets/header.pug

section.container
  p ...

include ../_snippets/footer.pug  
