mixin themeswitcher()
  section.container
    nav
      ul
        li Theme (Dev only)
        li 
          a(href="#" data-theme-switcher="auto") Auto
        li
          a(href="#" data-theme-switcher="dark") Dark
        li 
          a(href="#" data-theme-switcher="light") Light
    script(src="/_assets/js/minimal-theme-switcher.min.js")
